<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>OAuth Google+ Template</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/mdbootstrap/css/bootstrap.css" />

    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/mdbootstrap/css/mdb.css" />

    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css" rel="stylesheet" type="text/css" />

</head>

<body>
  <script>
    var myUser = <%- JSON.stringify(user) %>;
    var token = <%- JSON.stringify(token) %>;
  </script>

<div id="app">

</div>

  <!--Navbar-->
<nav class="navbar navbar-toggleable-md navbar-dark bg-primary">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <strong>Navbar</strong>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Pricing</a>
                </li> -->
                <!-- <li class="nav-item dropdown btn-group">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item">Action</a>
                        <a class="dropdown-item">Another action</a>
                        <a class="dropdown-item">Something else here</a>
                    </div>
                </li> -->
            </ul>
            <li class="nav-item dropdown btn-group">
                <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                    <a class="dropdown-item" href="/auth/google">Google+ Login</a>
                    <a class="dropdown-item">Logout</a>
                    <!-- <a class="dropdown-item">Something else here</a> -->
                </div>
            </li>
            <li class="nav-item dropdown btn-group">
                <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown 2</a>
                <div id="dropdownReact" class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">

                </div>
            </li>
            <!-- <form class="form-inline waves-effect waves-light">
                <input class="form-control" type="text" placeholder="Search">
            </form> -->
        </div>
    </div>
</nav>
<div class="Aligner">
  <div id="authStatus" class="card">

  </div>
  <div class="card">
    <p class="card-text">
      Select login from the dropdown menu. This prompts the following behaviour:
    </p>
    <ul class="list-group">
      <li class="list-group-item">OAuth to google via passport</li>
      <li class="list-group-item">Google auth and redirect</li>
      <li class="list-group-item">Access token saved to back end db (access token + username)</li>
      <li class="list-group-item">Access token passed to front end and saved in local storage</li>
    </ul>
  </div>
  <div class="card">
    <p class="card-text">
      On page load, the following is executed:
    </p>
    <ul class="list-group">
      <li class="list-group-item">Check local storage for access token</li>
      <li class="list-group-item">Ajax call to server for auth status</li>
      <li class="list-group-item">Server response (auth or no auth)</li>
      <li class="list-group-item">Components rendered according to auth status</li>
    </ul>
  </div>
  <div class="card">
    <p class="card-text">
      For this template, access tokens have no timeout value.
    </p>
  </div>
</div>


  <script src="/mdbootstrap/js/jquery-3.1.1.js" type="text/javascript"></script>
  <script src="/mdbootstrap/js/tether.js" type="text/javascript"></script>
  <script src="/mdbootstrap/js/bootstrap.js" type="text/javascript"></script>
  <script src="/mdbootstrap/js/mdb.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js" type="text/javascript"></script>
  <script src="/scripts/react/statusclass.js" type="text/babel"></script>
  <script src="/scripts/react/dropdownclass.js" type="text/babel"></script>
  <script src="/scripts/main.js" type="text/babel"></script>

</body>
</html>
